**/node_modules/
**/dist
Dockerfile*
docker-compose*
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws
.dockerignore
.gitignore
README.md
LICENSE
.vscode
.next
*.swp
/scripts
.env.example
biome.json
.tool-versions
.components.json